@using MetaBenchmark.Shared
@using MetaBenchmark.Shared.Models
@using Newtonsoft.Json
@using System.Web
@inject IHttpClientFactory Http;
@inject IJSRuntime js;
@inject NavigationManager nav;

@if(AllProducts != null)
{
    <select class="form-control selectpicker form-control-lg"
            id="productTypeFilter"
            data-selected-text-format="count"
            @onchange="((val) => SelectedProductType(val.Value))">
        @foreach(var type in AllProducts.Select(p => p.Type).Distinct())
        {
            <option selected value=@((int)type)>@type</option>
        }
    </select>
    <select class="form-control selectpicker form-control-lg"
            id="benchmarkTypeFilter"
            data-selected-text-format="count"
            data-actions-box="true"
            multiple
            @onchange="((val) => SelectedBenchmarkType())">
        @foreach(var type in AllProducts.SelectMany(p => p.BenchmarkEntries).Select(e => e.Benchmark.Type).Distinct())
        {
            if (CurrentBenchmarkTypes.Contains(type))
            {
                <option selected value=@((int)type)>@type</option>
            }
            else
            {
                <option value=@((int)type)>@type</option>                
            }
        }
    </select>
    <select class="form-control selectpicker form-control-lg"
            id="benchmarkFilter"
            data-live-search="true"
            data-actions-box="true"
            data-selected-text-format="count"
            multiple
            @onchange="((val) => SelectedBenchmark())">
        @foreach(var bench in AvailableBenchmarks.Where(b => CurrentBenchmarkTypes.Contains(b.Type)).OrderBy(b => b.Name))
        {
            <option selected value=@bench.ID>@bench.Name</option>
        }
    </select>
    <select class="form-control selectpicker form-control-lg"
            id="sourceFilter"
            data-live-search="true"
            data-actions-box="true"
            data-selected-text-format="count"
            multiple
            @onchange="((val) => SelectedSource())">
        @foreach(var source in AvailableSources.OrderBy(s => s.Name))
        {
            <option selected value=@source.Id>@source.Name</option>
        }
    </select>
    <div class="compare-products">
        <div class="row justify-content-center">
            @for(int i = 0; i < SelectedProducts.Length; i++)
            {
                var index = i;
                <div class="col card">
                    @if (SelectedProducts[i] == null)
                    {
                        <form class="row card-body">
                            <select data-live-search="true"
                                    data-style="btn-secondary"
                                    class="selectpicker form-control form-control-lg col" 
                                    title="Select a product"
                                    @onchange="((val) => SelectedId((string)val.Value, index))">
                                @foreach (var product in AllProducts.OrderByDescending(p => p.Name))
                                {
                                    var brand = product.Specs.FirstOrDefault(s => s.Spec?.Name == "brand");
                                    var brandClass = brand == null ?  "" : $"brand-{brand.Spec.Value}";

                                    <option class="@brandClass" value=@product.ID>@product.Name</option>
                                }
                            </select>
                        </form>
                    }
                    else
                    {
                        var brand = SelectedProducts[i].Specs.FirstOrDefault(s => s.Spec?.Name == "brand");
                        var brandClass = brand == null ?  "" : $"brand-{brand.Spec.Value}";

                        <div class="row card-body product-header @brandClass">
                            <h4 class="col my-auto product-title @brandClass">@SelectedProducts[i].Name</h4>
                            <button class="btn btn-lg col-auto btn-warning" @onclick="(() => Selected(null, index))">
                                <span class="oi oi-x" aria-hidden="true"></span>
                            </button>
                            @if(i == SelectedProducts.Length - 1)
                            {
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success" @onclick="AddProduct">
                                        <span class="oi oi-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                        
                </div>
            }
        </div>
        @foreach(var bench in ActiveBenchmarks.Where(b => CurrentBenchmarkTypes.Contains(b.Type)).OrderBy(b => b.Name))
        {
            <div class="row justify-content-center benchmark benchmark-@bench.ID">
                @for(int i = 0; i < SelectedProducts.Length; i++)
                {
                    if (SelectedProducts.Length > i && SelectedProducts[i] != default)
                    {
                        var prod = SelectedProducts[i];
                        var entries = prod.BenchmarkEntries.Where(e => e.BenchmarkId == bench.ID && ActiveSources.Any(s => s.Id == e.SourceId)).ToList();
                        if(entries.Count == 0)
                        {
                            <div class="col">
                               
                            </div>
                            continue;
                        }

                        var avg = entries.Average(e => e.Value);
                        var midpoint = BenchmarkAverages[bench.ID];
                        var backgroundClass = BenchmarkMaximums[bench.ID].productId == prod.ID ? "bg-success text-light" : "";
                        backgroundClass = "";
                        <div class="product col m-0 py-3 @backgroundClass card">
                            <div class="row h-100">
                                <div class="col-auto text-center my-auto">
                                    @if(avg > midpoint)
                                    {
                                        <i class="fas fa-angle-double-up fa-4x text-success"></i>
                                    }
                                    else if(avg < midpoint)
                                    {
                                        <i class="fas fa-angle-double-down fa-4x text-danger"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-ellipsis-h fa-2x"></i>
                                    }
                                </div>
                                <div class="col my-auto">
                                    <h4 class="m-0">@entries.First().Benchmark.Name</h4>
                                </div>

                                <div class="col text-right">
                                    @foreach(var entry in entries)
                                    {
                                        var textClass = GetTextClass(entry);
                                        <div class="row benchmark-entry">
                                            <div class="col"><img src="@entry.Source.LogoUrl" alt="@entry.Source.Name" title="@entry.Source.Name" /></div>
                                            <div class="col my-auto @textClass">@entry.ValueLabel()</div>
                                        </div>
                                    }
                                </div>
                                </div>
                        </div>
                    }
                    else
                    {
                        <div class="col">          
                        </div>
                    }
                }
            </div>
        }
    </div>
}
else
{
    <div>Loading...</div>
}


@code {
    List<Product> AllProducts;
    Product[] SelectedProducts;
    Dictionary<long, double> BenchmarkAverages = new Dictionary<long, double>();

    //key = benchmarkID, value = productID and benchmark value
    Dictionary<long, (long productId, double value)> BenchmarkMaximums = new Dictionary<long, (long productId, double value)>();
    Dictionary<long, int> BenchmarkCount = new Dictionary<long, int>();

    List<Benchmark> AvailableBenchmarks = new List<Benchmark>();
    List<Benchmark> ActiveBenchmarks = new List<Benchmark>();

    List<BenchmarkSource> AvailableSources = new List<BenchmarkSource>();
    List<BenchmarkSource> ActiveSources = new List<BenchmarkSource>();

    Product.ProductType CurrentProductType;
    List<Benchmark.BenchmarkType> CurrentBenchmarkTypes = new List<Benchmark.BenchmarkType>();

    protected override async Task OnInitializedAsync()
    {
        CurrentProductType = Product.ProductType.GPU;
        CurrentBenchmarkTypes.Add(Benchmark.BenchmarkType.FPS_1440P);

        AllProducts = await Http.CreateClient("public").GetFromJsonAsync<List<Product>>("api/Products");

        Console.WriteLine(nav.Uri);
        var prodParam = HttpUtility.ParseQueryString(new Uri(nav.Uri).Query).Get("products");
        Console.WriteLine(prodParam);
        string[] prodFromQuery = null;
        if (!string.IsNullOrWhiteSpace(prodParam))
        {
            SelectedProducts = prodParam.Split(',').Select(id => AllProducts.FirstOrDefault(p => p.ID.ToString() == id)).ToArray();
        }
        else
        {
            SelectedProducts = new Product[2];
        }


        ComputeAverages();

        StateHasChanged();
        await js.InvokeVoidAsync("ShowSelectPicker");
        await js.InvokeVoidAsync("MoveFilterToNav");
    }

    async Task SelectedId(string productId, int index)
    {
        if(long.TryParse(productId, out long id))
        {
            var prod = AllProducts.FirstOrDefault(p => p.ID == id);
            await Selected(prod, index);
        }
        else
        {
            await Selected(null, index);
        }
    }

    async Task Selected(Product p, int index)
    {
        int nullIndex = 0;
        for(int i = 0; i < SelectedProducts.Length; i++)
        {
            if(i == index)
            {
                break;
            }
            if(SelectedProducts[i] == null)
            {
                nullIndex++;
            }
        }

        if (p == null && SelectedProducts.Length > 1)
        {
            if (SelectedProducts.Length > 1)
            {
                var newArr = new Product[SelectedProducts.Length - 1];
                //0 1 2 3
                if (index > 0)
                {
                    SelectedProducts.Take(index).ToArray().CopyTo(newArr, 0);
                }
                if (index < SelectedProducts.Length)
                {
                    SelectedProducts.Skip(index + 1).ToArray().CopyTo(newArr, index);
                }
                SelectedProducts = newArr;
            }
            else
            {
                SelectedProducts = new Product[1];
            }
        }
        else
        {
            SelectedProducts[index] = p;
        }
        ComputeAverages();
        //
        //
        //  nullIndex + X -> x == filter select element count
        //
        //
        Console.WriteLine(JsonConvert.SerializeObject(ActiveBenchmarks.Where(p => p != null).Select(p => p.Name)));
        await js.InvokeVoidAsync("RemoveSelectPicker", nullIndex + 4);
        StateHasChanged();
        await js.InvokeVoidAsync("ShowSelectPicker");
        await js.InvokeVoidAsync("SetUrl", $"{nav.BaseUri}?products={string.Join(',', SelectedProducts.Where(s => s != null).Select(s => s.ID))}");
    }

    void ComputeAverages()
    {
        BenchmarkAverages.Clear();
        BenchmarkMaximums.Clear();
        AvailableBenchmarks.Clear();
        BenchmarkCount.Clear();
        AvailableSources.Clear();
        ActiveBenchmarks.Clear();

        foreach(var product in SelectedProducts)
        {
            if(product == null)
            {
                continue;
            }

            foreach(var groups in product.BenchmarkEntries.GroupBy(e => e.BenchmarkId))
            {
                var avg = groups.Average(g => g.Value);
                if(BenchmarkAverages.ContainsKey(groups.Key))
                {
                    BenchmarkAverages[groups.Key] += avg;
                    BenchmarkCount[groups.Key] += 1;
                    if(BenchmarkMaximums[groups.Key].value < avg)
                    {
                        BenchmarkMaximums[groups.Key] = (product.ID, avg);
                    }
                }
                else
                {
                    var bench = groups.FirstOrDefault();
                    if (bench?.Benchmark != null)
                    {
                        AvailableBenchmarks.Add(bench.Benchmark);
                        ActiveBenchmarks.Add(bench.Benchmark);
                    }

                    BenchmarkAverages.Add(groups.Key, avg);
                    BenchmarkCount.Add(groups.Key, 1);
                    BenchmarkMaximums.Add(groups.Key, (product.ID, avg));
                }
            }

            foreach(var source in product.BenchmarkEntries.GroupBy(e => e.Source))
            {
                if (!AvailableSources.Contains(source.Key))
                {
                    AvailableSources.Add(source.Key);
                    ActiveSources.Add(source.Key);
                }
            }
        }

        foreach(var key in BenchmarkAverages.Keys)
        {
            BenchmarkAverages[key] /= BenchmarkCount[key];
        }
    }

    async Task AddProduct()
    {
        var newArr = new Product[SelectedProducts.Length + 1];
        SelectedProducts.CopyTo(newArr, 0);
        SelectedProducts = newArr;
        StateHasChanged();
        await Task.Delay(1);
        await js.InvokeVoidAsync("ShowSelectPicker");
    }

    async Task SelectedBenchmark()
    {
        var items = await js.InvokeAsync<List<string>>("GetVal", "#benchmarkFilter");
        ActiveBenchmarks = items.Select(i => AvailableBenchmarks.FirstOrDefault(b => b.ID == long.Parse(i))).ToList();
        Console.WriteLine(JsonConvert.SerializeObject(ActiveBenchmarks.Select(b => b.Name).ToList()));
        StateHasChanged();
    }

    async Task SelectedSource()
    {
        var items = await js.InvokeAsync<List<string>>("GetVal", "#sourceFilter");
        ActiveSources = items.Select(i => AvailableSources.FirstOrDefault(b => b.Id == long.Parse(i))).ToList();
        Console.WriteLine(JsonConvert.SerializeObject(ActiveSources.Select(b => b.Name).ToList()));
        StateHasChanged();
    }

    async Task SelectedProductType(object val)
    {
        if(val is Product.ProductType type)
        {
            CurrentProductType = type;
            StateHasChanged();
            Console.WriteLine($"SELECTEED {type}");
        }
        
    }

    async Task SelectedBenchmarkType()
    {
        var items = await js.InvokeAsync<List<string>>("GetVal", "#benchmarkTypeFilter");
        CurrentBenchmarkTypes = items.Select(i => (Benchmark.BenchmarkType)(int.Parse(i))).ToList();
        Console.WriteLine(JsonConvert.SerializeObject(CurrentBenchmarkTypes));
    }

    string GetTextClass(BenchmarkEntry entry)
    {
        switch(entry.Benchmark.Type)
        {
            case Benchmark.BenchmarkType.FPS:
            case Benchmark.BenchmarkType.FPS_4K:
            case Benchmark.BenchmarkType.FPS_1440P:
            case Benchmark.BenchmarkType.FPS_1080P:
                return entry.Value switch
                {
                    > 100 => "text-success",
                    > 60  => "text-info",
                    _     => "text-warning"
                };
        }

        return "";
    }
}
