@using MetaBenchmark.Shared.Models
@using MetaBenchmark.Shared

@inject IJSRuntime js
@inject NavigationManager nav

@if(Product != null)
{
    <div class="card p-1 mb-3 landing-item" @onclick="(() =>{ Selected(Product); })">
        <div class="product-click-hint">
            <span class="oi oi-external-link" aria-hidden="true"></span>
        </div>
        <div class="row m-0">
            @{
                var b = Product.BenchmarkEntries.ToList().RandomItem();
                var br = Product.Specs.FirstOrDefault(s => s.Spec?.Name == "brand");
                var bc = br == null ?  "" : $"brand-{br.Spec.Value}";
            }
            <div class="col-3 my-auto pl-0 fade-in text-center" @ref="prodDiv">
                <h5>@Product.Name</h5>
            </div>
            <div class="col my-auto fade-in" @ref="nameDiv">
                <div class="benchmark-name">
                    <div>
                        @b.Benchmark.Name
                    </div>
                </div>
                @if (b.Benchmark.Specs != null && b.Benchmark.Specs.Count > 0)
                {
                    <div class="benchmark-specs d-flex flex-wrap h6 justify-content-evenly">
                        @foreach(var spec in b.Benchmark.Specs)
                        {
                            <div class="d-block mx-1 my-1 badge badge-info benchmark-spec benchmark-spec-@spec.Spec.Name-@spec.Spec.Value"></div>
                        }
                    </div>
                }                            
            </div>
            <div class="col-auto my-auto" @ref="benchDiv">
                <div class="benchmark-value justify-content-end text-right @GetTextClass(b)">@b.ValueLabel()</div>
                <img class="justify-content-end source-img" src="@b.Source.LogoUrl" alt="@b.Source.Name" title="@b.Source.Name" />
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public Product Product { get; set; }

    ElementReference prodDiv;
    ElementReference nameDiv;
    ElementReference benchDiv;

    protected override void OnInitialized()
    {
        Task.Run(Timer);
    }

    private async Task Timer()
    {
        await Task.Delay(Random.Shared.Next(6000, 12000));
        await js.InvokeVoidAsync("FadeOut", nameDiv);
        await js.InvokeVoidAsync("FadeOut", benchDiv);

        await Task.Delay(250);
        StateHasChanged();
        await js.InvokeVoidAsync("FadeIn", nameDiv);
        await js.InvokeVoidAsync("FadeIn", benchDiv);

        Task.Run(Timer);
    }

    void Selected(Product prod)
    {
        nav.NavigateTo($"product/{prod.Id}");
    }

    string GetTextClass(BenchmarkEntry entry)
    {
        switch(entry.Benchmark.Type)
        {
            case Benchmark.BenchmarkType.FPS:
            case Benchmark.BenchmarkType.FPS_4K:
            case Benchmark.BenchmarkType.FPS_1440P:
            case Benchmark.BenchmarkType.FPS_1080P:
                return entry.Value switch
                {
                    > 100 => "text-success",
                    > 60  => "text-primary",
                    _     => "text-warning"
                };
        }

        return "";
    }    
}